.personajeCard {
    list-style: none;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-align: cententer;
   
       
}

.cardText {
    justify-content: center;
    text-align: center;
    margin-block-start: 15px;
    margin-left: 65px;
}

.personajeCard:hover {
    cursor: pointer;
  
}

.personajeImage {
    border-radius: 150px;
    background-color: azure;
}

.personajeImage:hover {
    opacity: 0.8;
    box-shadow: 0 0 15px green, 0 0 80px green, 0 0 50px green;
    }

@media (max-width: 560px) {
    .personajeImage {
       width: 100%;
       height: auto;
    }
}