.title {
   text-align: center;
  bottom: 0.8em;
  width: 100%;
  text-align: center;
  font-family: Aerial;
  font-size: 3em;
  color: #0d94b3;
  z-index: 50;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
  0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}
